.hiddenMenu {
	display: block;
	position: fixed;
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
	background-color: #313945;
	height: 100%;
	top: 0;
	transition: right .2s;
	z-index: 2000;
	transform: translateZ(0);
	backface-visibility: hidden;
}

.hiddenMenu ul {
	list-style: none;
	padding: 0;
}

.hiddenMenu li {
	display: block;
	width: 200px;
	color: #fff;
	margin: 0 auto;
	padding: 25px 0;
	border-top: 1px solid #1d2228;
}

.hiddenMenu li:first-child {
	margin-top: 90px;
	border-top: none;
}

.hiddenMenu li a {
	display: block;
	font-family: Alegreya;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
    text-transform: uppercase;
}

.btnMenu {
	padding: 5px;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
	z-index: 300;
}

.btnClose {
	position: absolute;
	top: 50px;
	right: 40px;
	cursor: pointer;
	z-index: 300;
}

.fog {
	display: block;
	position: fixed;
	top: 0;
	left: 0;	
	margin: 0;
	height: 100vh;
	background-color: #eee;
	z-index: 10000;
	opacity: 0.4;
}

/* Large */
@media only screen and (max-width: 1400px) {

}

/* Medium */
@media only screen and (max-width: 896px) {

}

/* Small */
@media only screen and (max-width: 768px) {
	.btnMenu {
		top: 10px;
		right: 24px;
	}
}