.hiddenMenu {
	display: block;
	position: fixed;
	list-style:none;
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
	width: 200px;
	background-color: #eee;
	height: 100%;
	top: 0;
	right: -200px;
	transition: right .2s;
	z-index: 2000;
	transform: translateZ(0);
	backface-visibility: hidden;
  }

.btnMenu {
	color: #fff;
	background-color: #666;
	padding: 5px;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
	z-index: 300;
	width: 25px;
	transform: translateZ(0);
	backface-visibility: hidden;
}

.btnMenu span {
	display: block;
	height: 5px;
	background-color: #fff;
	margin: 5px 0 0;
	position: relative;
}

.btnMenu span.first {
	margin-top: 0;
}

.fog {
	display: block;
	position: fixed;
	top: 0;
	left: 0;	
	margin: 0;
	height: 100vh;
	background-color: #eee;
	z-index: 10000;
	opacity: 0.4;
}
