.numberInputGroup {
	display: flex;
	align-items: center;
	position: relative;
	width: 120px;
	border: 1px solid gainsboro;
	border-radius: 4px;
}

.numberInputGroup input[type="number"]::-webkit-outer-spin-button,
.numberInputGroup input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.numberInputGroup input[type="number"] {
	-moz-appearance: textfield;
}
.numberInputGroup input[type="number"]:hover,
.numberInputGroup input[type="number"]:focus {
	-moz-appearance: number-input;
}

.button {
	min-width: 20px;
	padding: 2px 3px;
	margin-right: 0;
	color: #262626;
	border: 1px solid gainsboro;
}

.pickEditButton {
	padding: 2px;
	width: 62px;
	border-radius: 0;
	border: 1px solid gainsboro;
}

.pickEditButton:hover {
	cursor: text;
}

.svg {
	color: #777;
	fill: currentColor;
	height: 20px;
	width: 20px;
}

.input {
	width: 62px;
	height: 30px;
	text-align: center;
	border: 1px solid gainsboro;
}

.inputError {
	outline: 2px solid red;	
}
