.card {
	display: block;
	height: 540px;
	border-radius: 5px;
	border: 0;
  	box-shadow: 0 2px 5px 0 rgba(165, 169, 176, 0.3);
}

.btn {
	width: 200px;
	height: 52px;
	border-radius: 5px;
	// background-color: #e52d2d;
}

.btn span {
	font-family: Alegreya;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	letter-spacing: 1px;
	color: #ffffff;
}
