.headerRight {
	display: flex;
    align-items: center;
	height: 100%;
}


.big {
	font-family: Alegreya;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: normal;
	letter-spacing: 1px;
	z-index: 200;
}

.bigHF {
	font-size: 14px;
}

.phone {
	font-size: 24px;
	color: #000;
}

.phoneHF {
	font-size: 18px;
}

.small {
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: normal;
	color: #848a9a;
}


.contact {
	width: 290px;
	display: flex;
	z-index: 200;
}

.contactIcon {
	display: flex;
	height: 50px;
	width: 50px;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	margin: 0 5px;
}

.contactIconHF {
	height: 40px;
	width: 40px;
}

.contactIcon img {
	height: 40px;
	width: 40px;
}

.contactIconHF img {
	height: 32px;
	width: 32px;
}

.contactText {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactIconCount {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #e52d2d;
	font-size: 11px;
	font-weight: 500;
	line-height: 1.59;
}

.order {
	width: 290px;
	display: flex;
	cursor: pointer;
	z-index: 200;
}

.lang {
	width: 80px;
	z-index: 200;
}

.langHF {
	display: none;
}

.lang div {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 48px;
	height: 48px;
	background-color: #eff0f1;
	border-radius: 50%;
	z-index: 200;
	cursor: pointer;
}

