.delivery {
	background-color:#f8f6f3;
	min-height: 144px;
	padding-bottom: 30px;
}

.delivery h2 {
	margin-top: 60px;
}

.wrapper {
	background-color: #fff;
	background-clip: content-box;
	margin-top: 20px;
	margin-bottom: 80px;		
}

.card {
	display: flex;
	flex-direction: row;
	min-height: 144px;
	padding: 35px 25px;
}

.left {
	width: 70px;
	height: 70px;
	margin-right: 25px;
}

.left img {
	width: 100%;
	height: auto;
}

.right {
	width: calc(100% - 70px);
}

.right h3 {
	margin-top: 0;
}


/* Large */
@media only screen and (max-width: 1400px) {
	.wrapper {
		margin-bottom: 40px;
	}

	.card {
		flex-direction: column;
		padding: 25px;
	}

	.left {
		width: 50px;
		height: 50px;
		margin-bottom: 10px;
	}

	.right {
		width: 100%;
	}

	.right h3 {
		font-size: 20px;
	}

	.right p {
		font-size: 12px;
		margin-bottom: 0;
	}
}

/* Medium */
@media only screen and (max-width: 896px) {
	.delivery h2 {
		margin-top: 30px;
	}

	.wrapper {
		margin-bottom: 10px;		
	}

	.card {
		padding: 15px;
		min-height: 100px;
	}

	.card p {
		margin-bottom: 0;
	}
}