.delivery {
	background-color:#f8f6f3;
	min-height: 144px;
	padding-bottom: 30px;
}

.wrapper {
	background-color: #fff;
	background-clip: content-box;
	margin-top: 20px;
	margin-bottom: 80px;		
}

.card {
	display: flex;
	flex-direction: row;
	min-height: 144px;
	padding: 35px 25px;
}

.left {
	width: 95px;
	height: 70px;
	margin-right: 25px;
}

.left img {
	width: 100%;
	height: auto;
}

.right h3 {
	margin-top: 0;
}


/* Medium */
@media only screen and (max-width: 896px) {
	.delivery h2 {
		margin-top: 30px;
	}

	.wrapper {
		margin-bottom: 10px;		
	}

	.card {
		padding: 15px;
		min-height: 100px;
	}

	.card p {
		margin-bottom: 0;
	}
}