.filter {
    min-height: 120px;
    margin-bottom: 10px;
}

.filter h2 {
    font-size: 52px;
}

.filter h3 {
    font-size: 18px;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.filterItem {
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.active {
    color: #e52d2d;
}

.svg {
    height: 25px;
}

/* Large */
@media only screen and (max-width: 1400px) {
    .filter h2 {
        font-size: 40px;
    }

    .filter h3 {
        font-size: 16px;
    }
}

/* Small */
@media only screen and (max-width: 768px) {
    .filter h2 {
        font-size: 28px;
    }
    
    .wrapper {
        width: calc(320px - 88px);
        margin-top: 25px;
    }	
}