.inst {
	padding: 0;
}

.instRow {
	margin: 0;
}

.instCol {
	padding: 0;
}

.pizzamenu {
	font-family: Alegreya;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.5;
	color: #848a9a;
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

.imgWrapper {
	width: 25%;
	min-height: 100px;
	float: left;
}

.imgWrapper img {
	width: 100%;
	height: auto;
}


/* Large */
@media only screen and (max-width: 1400px) {

}

/* Medium */
@media only screen and (max-width: 896px) {

}

/* Small */
@media only screen and (max-width: 768px) {
	.imgWrapper {
		width: 50%;
	}

	.pizzamenu {
		font-size: 16px;
		margin-bottom: 15px;
	}
}