.bg {
	background-image: url('/img/img-bg.png');
	background-position: right;
	background-repeat: no-repeat;
}

.header {
	height: 520px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.headerRight {
	position: relative;
}

.imgPizza {
	position: absolute;
	top: -110px;
	left: -50px;
	z-index: 100;
}

.imgLeaves {
	position: absolute;
	bottom: -270px;
	left: -50px;
}

.header h1 {
	margin-top: 117px;
}

.header p {
	font-family: Roboto;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #000000;
}

