.header {
	position: fixed;
	width: 100%;
    display: flex;
	justify-content: center;
	background-color: #fff;
	transition: .5s all;
	z-index: 1000;
}

.headerFixed {
	margin-top: 0px;
}

.headerFull {
	margin-top: 40px;
}