.header {
	position: fixed;
	width: 100%;
    display: flex;
	justify-content: center;
	background-color: #fff;
	transition: .5s all;
	z-index: 1000;
}

.headerFixed {
	margin-top: 0px;
}

.headerFull {
	margin-top: 40px;
}

/* Large */
@media only screen and (max-width: 1400px) {

}

/* Medium */
@media only screen and (max-width: 896px) {

}

/* Small */
@media only screen and (max-width: 768px) {
	.headerFull {
		margin-top: 5px;
	}
}