.navbar {
	padding: 0;
	min-height: 60px;
	display: flex;
    align-items: center;
}

.navbarNav {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}

.navbarNavHF {
	width: 100%;
}

.brand {
	height: 84px;
	width: 182px;
	padding: 0;
}

.brandHF {
	height: 32px;
	width: 69px;
	padding: 0;
	margin-right: 183px;
}

.brandImg {
	height: 100%;
}

.navbarNav li {
	font-family: Alegreya;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: normal;
	letter-spacing: 1px;
}

.navbarNav li a {
	color: #000;
}

.navbarNavHF li {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.89px;
}
