.bg {
	background-image: url('./img/img-bg.jpg');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 53% 100%, contain;
}

.banner {
	height: 520px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.row {
	height: 100%;
}

.bannerRight {
	position: relative;
}

.imgPizza {
	position: absolute;
	top: -40px;
	left: -50px;
	height: calc(100% + 80px);
	z-index: 100;
}

.imgLeaves {
	position: absolute;
	bottom: -45px;
	left: -120px;
	height: 50%;
}

.banner h1 {
	margin-top: 117px;
}

.banner p {
	font-family: Roboto;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #000000;
}


/* Large */
@media only screen and (max-width: 1400px) {
	.bg {
		background-size: 48% 100%, contain;
	}

	.banner h1 {
		margin-top: 10px;
		font-size: 64px;
	}

	.banner {
		height: 260px;
	}

	.imgPizza {
		position: absolute;
		top: -20px;
		left: -30px;
		height: calc(100% + 40px);
	}	
}

/* Medium */
@media only screen and (max-width: 896px) {
	.bg {
		background-image: none;
	}
}
