.bg {
	background-image: url('./img/img-bg.jpg');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 53% 100%, contain;
}

.row {
	height: 100%;
}

.bannerTop {
	position: relative;
	height: 160px;
	margin-top: 40px;
	background-image: url('./img/img-bg.jpg');
	// background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 100%, contain;
}

.bannerRight {
	position: relative;
}

.imgPizza {
	position: absolute;
	top: -40px;
	left: -50px;
	height: calc(100% + 80px);
	z-index: 100;
}

.imgLeaves {
	position: absolute;
	bottom: 20px;
	left: -120px;
	height: 50%;
}

.banner {
	height: 520px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.banner h1 {
	margin-top: 117px;
}

.banner p {
	width: 450px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #000000;
}

.btn {
	font-family: Alegreya;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	padding: 10px;
}


/* Large */
@media only screen and (max-width: 1400px) {
	.bg {
		background-size: 48% 100%, contain;
	}

	.banner h1 {
		margin-top: 10px;
		font-size: 52px;
	}

	.banner {
		height: 260px;
	}

	.imgPizza {
		top: -20px;
		left: -30px;
		height: calc(100% + 40px);
	}
	
	.banner p {
		font-size: 18px;
	}
}

/* Medium */
@media only screen and (max-width: 896px) {
	// .bg {
	// 	background-image: none;
	// }

	.banner {
		height: auto;
	}

	.banner p {
		width: 290px;
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 1.25;
	}
}

/* Small */
@media only screen and (max-width: 768px) {
	.bg {
		background-image: none;
	}

	.imgPizza {
		top: -20px;
		left: 15px;
	}
	
	.imgLeaves {
		position: absolute;
		bottom: -20px;
		left: 2px;
		height: 50%;
	}

	.banner h1 {
		margin-top: 40px;
		font-size: 40px;
	}

	.banner p {
		width: 100%;
		font-size: 16px;
	}

	.btn {
		font-size: 18px;
		width: 100%;
	}
}
